<div class="post type-post status-publish format-standard hentry category-lost-in-web tag-pinball">
  <div class="post-header">
    <h2><a href="{{ post.url | prepend: site.baseurl | replace: '//', '/' }}" rel="bookmark" title="Permanent Link to {{ post.title }}">{{ post.title }}</a></h2>
    <div class="date">{{ post.date | date: '%B %d, %Y' }}</div>
  </div><!--end post header-->
  <div class="meta clear">
    <div class="tags">tags: <a href="tag/pinball/index.html" rel="tag">pinball</a></div>
    <div class="author">by {{ site.author }}</div>
  </div><!--end meta-->
  <div class="entry clear">
    {{ post.content }}
  </div><!--end entry-->
  <div class="post-footer">
    <p>from &rarr; <a href="category/lost-in-web/index.html" rel="category tag">Lost in Web</a></p>
  </div><!--end post footer-->
</div><!--end post-->
