<!-- Navigation -->
<div class="menu-main-container">
  <ul id="menu-main" class="menu">
    <li id="menu-item-782" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-782">
      <a title="Edit and view plantuml diagrams nicely" href="/vizard">vizard.io</a>
    </li>
    <li id="menu-item-619" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-619">
      <a href="/nabaztag-injector-arduino-rfid-hack">NabaztagInjector</a>
    </li>
    <li id="menu-item-621" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-621">
      <a href="/mtxcontrol">mtXcontrol</a>
    </li>
    <li id="menu-item-620" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-620">
      <a href="/launchpad">launchpad</a>
    </li>
  </ul>
</div>
