---
layout: post
status: publish
published: true
title: Beautify your views using "return"
author:
  display_name: admin
  login: admin
  email: t.bielohlawek@web.de
  url: http://
author_login: admin
author_email: t.bielohlawek@web.de
author_url: http://
wordpress_id: 5
wordpress_url: http://urangatang.wordpress.com/?p=6
date: '2008-06-06 10:59:24 +0000'
date_gmt: '2008-06-06 09:59:24 +0000'
categories:
- Ruby, Rails &amp; Co.
tags:
- view
- beauty of code
- hint
- return
comments: []
---
<p>A nice way to keep your views clean and not to spoil them with condition clauses, is to use the 'return' statement like you would do in a method:</p>
<p>Take this very simple exmaple:</p>
<p>ugly:<br />
[ruby]<br />
unless @place<br />
  <%= @place.name %><br />
end<br />
[/ruby]</p>
<p>nice:<br />
[ruby]<br />
return if @place.nil?<br />
<%= @place.name %><br />
[/ruby]</p>
<p><strong>UPDATE:</strong><br />
There's one pitfall, I forgot to mention: Every outout BEFORE the return statement will be discarded, so this part:<br />
[ruby]<br />
<%= "Always display this sentence" %><br />
return if @place.nil?<br />
<%= @place.name %><br />
[/ruby]</p>
<p>Will result in an empty output as well. This is quite a pitty and I'm not sure if it's a bug or feature. A may raise it soon..</p>
