name: Issue2Post
run-name: Converts any Issue labled with `post` into a blogpost
on:
  issues:
    types:
      - opened
      - edited
      - labeled
      - unlabeled
jobs:
  issue2post:
    runs-on: ubuntu-latest
    if: contains(github.event.issue.labels.*.name, 'post')
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version: 18
      - name: Create Blogpost from Issue
        uses: rngtng/issue-to-jekyll-post@v0.2.1
        with:
          post_dir: _posts
          update_filename: true
          layout: post
          timezone: Europe/Berlin
      - name: Push Blogpost
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}@users.noreply.github.com"
          git add .
          git commit -m "Add post: ${{github.event.issue.title}}"
          git pull --rebase
          git push
      - name: Close Issue
        uses: peter-evans/close-issue@v3.0.1
        with:
          comment: Blogpost created
